.gameDetailsTitleInput{
    color: rgba(245, 244, 244, 0.838);
    position: relative;
    bottom: -10%;
    text-shadow:  0 0rem 0.1rem #598933;
    background-color: transparent;
}

.gameDetailsTitleInput::placeholder{
    color: rgba(245, 244, 244, 0.838);
}