.modifyButtonDesign{
    color: white;
    cursor: pointer;
    height: 2.5em;
    width: 6.2em;
    transition: 0.7s;
    background-image: url('../../assets/botonesEditar.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 0.75rem #274550);
}
.deleteText{
    color: white;
    filter: drop-shadow(0 0 0.2rem #274550, 0 0 0.5rem #7ebed5);
    height: 1em;
}