.NewRegisterButton{
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    color: rgb(243, 243, 243);
    background-color: rgb(32, 201, 41);
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    transition: 0.7s;
}
.NewRegisterButton:hover{
    transition: 0.7s;
    box-shadow: 0.4em 0.4em 0.9em; 
    color: rgb(243, 243, 243);
    background-color: rgb(28, 168, 35);
}