.confirmRegisterDesign{
    height: fit-content;  
    box-shadow: 0.2em 0.2em 0.6em;
    transition: 1s;
    border: solid 0.1em rgb(21, 177, 21);
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;   
}

.registerTitleDesign{
    min-height: 2em;
    border-bottom: solid 0.1em rgb(21, 177, 21);
}

.registerDescriptionDesign{
    min-height: 10em;
}