.selectDesign{
    height: 2em;
    background-color: white;
    border-radius: 7px;
    filter: drop-shadow(0 0 0.25em #1984ac);
}

.switchDesignOn{
    cursor: pointer;
    height: 1.5em;
    border: outset 2px #1984ac;
    border-radius: 20px;
    background-image: url("../../assets/Portal.png"); 
    background-size: cover;
    animation: blueShine 2s  infinite;
}

.switchDesignOff{
    cursor: pointer;
    height: 1.5em;
    border: outset 2px #1984ac;
    border-radius: 20px;
    background-image: url("../../assets/Portal.png");
    background-size: cover;
    filter: grayscale(100%);
}

@keyframes blueShine {
    0%{
        filter: drop-shadow(0 0 0.25em #126280);
    }
    50%{
        filter: drop-shadow(0 0 0.25em #126280) drop-shadow(0 0 0.50em #20acde);
    }
    100%{
        filter: drop-shadow(0 0 0.25em #126280);
    }
}
