.gameCardDesign{
    filter: drop-shadow(0 0 0.05rem #aaee72) drop-shadow(0 0 0.2rem #b2ffa3);
}

.leftScroll{
    height: 7em;
    background-image: url('../../assets/pergaminoIzquierdo.png');
    background-size: 2em 7em;
    background-repeat: no-repeat;
    background-position: right;
}

.leftArrow{
    background-image: url('../../assets/FlechaDrch.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.centerScrollGames{
    --paper-dark: #e5c93d ;
    --paper-color: #ffed87;
    color: #e4f9e0;
    text-shadow: 0 0 0.2rem #3a5a1f;
    height: 5em;
    width: 100%;
    background: linear-gradient(
        135deg,
        var(--paper-dark),
        30%,
        var(--paper-color)
    );
    border-top: solid 2px black;
    border-bottom: solid 2px black; 
    filter: drop-shadow(0 0 0.05rem #aaee72) drop-shadow(0 0 0.2rem #c2f49a);
    transition: 0.7s;
}
.centerScroll:hover{
    transition: 0.7s;
    filter: drop-shadow(0 0 0.6rem #c2f49a);
}

.arrows{
    cursor: pointer;
    height: 6em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0 0 0.1rem #3a5a1f) drop-shadow(0 0 0.75rem #aaee72);
    transition: 0.7s;
}

.rightScroll{
    height: 7em;
    background-image: url('../../assets/pergaminoDerecho.png');
    background-size: 2em 7em;
    background-repeat: no-repeat;
    background-position: left;
}