.gameCard{
    cursor: pointer;
    height: 9em;
    transition: 0.3s;
}
.gameCard:hover{
    box-shadow: 0.2em 0.2em 0.6em; 
    transition: 0.3s;
}

.gameCardShow{
    cursor: pointer;
    height: fit-content;  
    box-shadow: 0.2em 0.2em 0.6em;   
}