.prevButtonDesign{
    transform: rotate(45deg);
}
/*falta cambiar las flechas por las iamgenes correspondientes*/
.prevButtonDesign{
    height: 2em;
    width: 2em;
    border-left: solid 0.3em brown;
    border-right: transparent;
    border-top: transparent;
    border-bottom: solid 0.3em brown;
    background-color: transparent;
    transition: 0.5s;
}

.prevButtonDesign:hover{
    height: 2.5em;
    width: 2.5em;
    transition: 0.4s;
}

/*falta cambiar las flechas por las iamgenes correspondientes*/
.nextButtonDesign{
    transform: rotate(45deg);
}

.downButtonDesign{
    height: fit-content;
    background-image: url('../../assets/FlechaAbajo.png');
    background-size: 5em 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 1.5em;
    animation: redShineArrow 2s infinite;
}

.upButtonDesign{
    height: fit-content;
    background-image: url('../../assets/FlechaArriba.png');
    background-size: 5em 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 1.5em;
    animation: redShineArrow 2s infinite;
}

.nextButtonDesign{
    height: 2em;
    width: 2em;
    border-left: transparent;
    border-right: solid 0.3em brown;
    border-top: solid 0.3em brown;
    border-bottom: transparent;
    background-color: transparent;
    transition: 0.5s;
}

.nextButtonDesign:hover{
    height: 2.5em;
    width: 2.5em;
    transition: 0.4s;
}

.waitButtonDesign{
    height: 2em;
    width: 2em;
    border-left: transparent;
    border-right: solid 0.3em grey;
    border-top: solid 0.3em grey;
    border-bottom: transparent;
    background-color: transparent;
    transition: 0.5s;
}

.waitButtonDesign{
    transform: rotate(45deg);
}

.waitButtonDesign:hover{
    height: 2.5em;
    width: 2.5em;
    transition: 0.4s;
}

@keyframes redShineArrow {
    0%{
        filter: drop-shadow(0 0 0.15rem #460808);
        filter: drop-shadow(0 0 0.3rem #a91414);
    }
    30%{
        filter: drop-shadow(0 0 0.1rem #510202);
        filter: drop-shadow(0 0 0.2rem #f71d1d);
    }
    100%{
        filter: drop-shadow(0 0 0.15rem #460808);
        filter: drop-shadow(0 0 0.3rem #a91414);
    }
}

