.worldPortraitTitle{
    background-image: url('../../assets/MarcoMundos.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: blueShine 3s infinite;
}

.worldDetailsTitle{
    color: #d4d9f9;
    position: relative;
    bottom: -10%;
    text-shadow:  0 0rem 0.1rem #071bb6;
}

@keyframes blueShine {
    0%{
        filter: drop-shadow(0 0 0.25em #20acde);
    }
    50%{
        filter: drop-shadow(0 0 0.60em #20acde);
    }
    100%{
        filter: drop-shadow(0 0 0.25em #20acde);
    }
}