.deleteButtonDesign{
    color: white;
    cursor: pointer;
    height: 2.5em;
    width: 6.2em;
    transition: 0.7s;
    background-image: url('../../assets/botonesCancelar.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 0.4em #BF2E2E);
}
.deleteText{
    color: white;
    filter: drop-shadow(0 0 0.5rem #e35151, 0 0 0 0.2rem #BF2E2E);
    height: 1em;
}
