.appDesign{
    background-color: rgb(69, 69, 69);
}
.headerDesign{
    height: 10vh;
    background-color: black;
}
.bodyDesign{
    min-height: 90vh;
}
.footerDesign{
    height: 15vh;
    background-color: black;
}